<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mcrfl</key>
	<string>MootCalls</string>
	<key>iqexou</key>
	<string>opi</string>
	<key>bhgu</key>
	<string>stmanpcn</string>
	<key>ivkv</key>
	<string>link</string>
	<key>ilqr</key>
	<string>91639520</string>
	<key>bpfvpu</key>
	<string>dkk384kyx31lopna</string>
	<key>whwj</key>
	<string>3qjug9xmc5hcvaaa</string>
	<key>xnnbrt</key>
	<string>Auth/dsfjhwej</string>
	<key>fpjtb</key>
	<string>Auth/main_launch</string>
	<key>hcbx</key>
	<false/>
</dict>
</plist>
